


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src=" /myfiche/js/jQuery.js"></script>
  <script type="text/javascript" src="/myfiche/js/popper.min.js"></script>
  <script type="text/javascript" src="/myfiche/js/bootstrap.js"></script>

  <!-- Custom JS -->
  <script type="text/javascript" src="/myfiche/js/navigation/navbar.js"></script>
  <script type="text/javascript" src="/myfiche/js/navigation/userNavbar.js"></script>
  <script src="/pannel/js/plugins/bootstrap-notify.js"></script>

</body>
</html>
