
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="/js/jQuery.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>

  <!-- Custom JS -->
  <script type="text/javascript" src="/js/navbar.js"></script>

</body>
</html>
