/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ FICHE EDITOR ~                                   */
/*              Note : to avoid any confusion, each style selector is applied for          */
/*  #ficheEditorContainer which is a section that contains all the fiches specific stuff   */
/*=========================================================================================*/


#ficheEditorContainer #ficheEditorHeader h1, #ficheEditorContainer #ficheEditorHeader h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Patua One", Arial;
  letter-spacing: 1.1px;
}

#ficheEditorContainer #ficheEditorHeader h4 {
  border-radius: 3px;
}



#ficheEditorContainer #ficheForm {
  width: 100%;
}

#ficheEditorContainer #ficheBasicInfos {
}

#ficheEditorContainer #ficheBasicInfos .form-group {

}




#ficheEditorContainer .form-group label {
  display:flex;
  justify-content: left;
  margin-bottom: 0;
  width: 200px;
}

#ficheEditorContainer #ficheBasicInfos .form-group #ficheDescription {
  max-height: 200px;
  min-height:50px;
}

#ficheEditorContainer #ficheContent {
  height: 300px;
  min-height: 300px;
  max-height: 750px;
  margin-bottom: 10px;
  resize:none;
  border:1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 0px;
}

#ficheEditorContainer #ficheContent:focus {
  box-shadow: none;
}

@media (max-width:768px){
  #ficheEditorContainer #ficheEditorHeader h1 {
    font-size: 1.5rem;
  }
  #ficheEditorContainer #ficheEditorHeader h4 {
    font-size: 1.2rem;
  }
  #ficheEditorContainer #ficheForm {
    width: 100%;
  }
}

#ficheEditorContainer .UI-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px rgba(0, 0, 0, 0.5) solid;
  padding: 5px;
  transition: all 0.2s;
}

#ficheEditorContainer .UI-items p {
  margin-bottom: 0;
}


#ficheEditorContainer .UI-items:hover {
  opacity: 0.9;
}

#ficheEditorContainer #UI-items-section {
  width: 10%;
  max-width: 30px;
}

#ficheEditorContainer #format-item-list .format-item
{
  justify-content:center;
  padding: 7px 10px;
  width: 7%;
  height: 30px;
  transition: all 0.2s;
  border:1px rgba(0, 0, 0, 0.5) solid;
}

#ficheEditorContainer #format-item-list #selectColor i
{
  margin-right: 5px;
  font-size: 1.8rem;
}

#ficheEditorContainer #format-item-list .format-item:hover
{
  padding-top: 2px;
  background-color: #357DC1 ;
