
<%- include("partials/header.ejs") %>

<!-- Presentation section -->

<section id="homeslides">
  <div class="container-fluid px-0 slide" id="firstSlide">

    <div class="row align-items-center m-0">

      <!-- TEXT -->
      <div class="col-12 col-lg-7 text-center order-2 order-lg-1 p-5 p-lg-0">
        <div class="row py-4 d-none d-lg-block">
          <span class="col-5"></span>
          <i class="fas fa-mouse-pointer mr-3"></i><i class="fas fa-cogs mr-3"></i><i class="fas fa-medal mr-3"></i>
          <span class="col-5"></span>
        </div>
        <h3 class="">Cliquez. Révisez. Assurez.</h3>
        <p class="lead mx-5"> Des dizaines de fiches de révision réalisées par des élèves pour des élèves. Une mine de contenu et un superbe outil de création. Vous n'avez plus d'excuse pour ne pas briller.</p>
      </div>

      <!-- IMAGE / ICON -->
      <div class="col-12 col-lg-5 order-1 order-lg-2 px-0 mx-0">
        <img src="myfiche_assets/img/home/main.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container-fluid px-0 slide" id="secondSlide">

    <div class="row align-items-center">

      <!-- TEXT -->
      <div class="col-12 col-lg-7 text-center order-4 order-lg-4 p-5 p-lg-0">
        <i class="fas fa-scroll d-none d-lg-block py-4"></i>
        <h3 class="">Des dizaines de fiches disponibles</h3>
        <p class="lead mx-5"> Quelle que soit la discipline, Myfiche.fr met a disposition une grande quantité de contenu réalisé par des étudiants : vos cours ne vous parlerons plus jamais chinois.</p>
        <a href="/categories" class="btn bg-white btn-lg">Voir</a>
      </div>

      <!-- IMAGE / ICON -->
      <div class="col-12 col-lg-5 order-3 order-lg-3">
        <img src="myfiche_assets/img/home/fiches.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container-fluid px-0 slide" id="thirdSlide">

    <div class="row align-items-center">

      <!-- TEXT -->
      <div class="col-12 col-lg-7 text-center order-6 order-lg-5 p-5 p-lg-0 ">
        <i class="fas fa-question-circle d-none d-lg-block py-4"></i>
        <h3 class="">Des quiz pour s'entraîner</h3>
        <p class="lead mx-5"> C'est l'heure de montrer ce que vous avez dans le ventre.</p>
        <button class="btn btn-success disabled btn-lg">Bientot</button>

      </div>

      <!-- IMAGE / ICON -->
      <div class="col-12 col-lg-5 order-5 order-lg-6">
        <img src="myfiche_assets/img/home/quizz.png" alt="" class="img-fluid">
      </div>
    </div>

  </div>


  <div class="container-fluid px-0 slide" id="fourthSlide">

    <div class="row align-items-center">

      <!-- TEXT -->
      <div class="col-12 col-lg-7 text-center order-4 order-lg-4 p-5 p-lg-0">
        <i class="fas fa-palette d-none d-lg-block py-4"></i>
        <h3 class="">Un outil de création</h3>
        <p class="lead mx-5"> Créez vos propres fiches. Montrez ce que vous savez faire.</p>
        <a href="/pannel/myFiches" class="btn btn-success btn-lg btn-danger">Créer</a>
      </div>

      <!-- IMAGE / ICON -->
      <div class="col-12 col-lg-5 order-3 order-lg-3">
        <img src="myfiche_assets/img/home/creer.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<%- include("partials/scripts.ejs") %>
<%- include("partials/footer.ejs") %>
