<%- include('../partials/header.ejs') %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                </div>
                                <div class="card-body text-center pb-5">
                                    <i class="nc-icon nc-ruler-pencil" style="font-size: 3rem"></i>
                                    <h2>Gérer les fiches</h2>
                                    <p>Une interface simple permettant d'effectuer des actions lourdes sur les fiches.</p>
                                    <a class="btn btn-lg btn-primary mt-2"  href="/pannel/admin/fiches">Accéder</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                </div>
                                <div class="card-body text-center pb-5">
                                    <i class="nc-icon nc-circle-09" style="font-size: 3rem"></i>
                                    <h2>Gérer les utilisateurs</h2>
                                    <p>Création d'utilisateur avec droits spéciaux, suppression, <em>mailing list</em>...</p>
                                    <a href="/pannel/admin/users" class="btn btn-lg btn-success mt-2">Accéder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                </div>
                                <div class="card-body text-center pb-5">
                                    <i class="nc-icon nc-chart-bar-32" style="font-size: 3rem"></i>
                                    <h2>Statistiques</h2>
                                    <p>Compteur de visites, affluence, action des visiteurs...</p>
                                    <a class="btn btn-lg btn-info mt-2">Accéder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                </div>
                                <div class="card-body text-center pb-5">
                                    <i class="nc-icon nc-settings-90" style="font-size: 3rem"></i>
                                    <h2>Autres configurations</h2>
                                    <p>Opérations ne trouvant pas leur place dans les catégories précédentes.</p>
                                    <a class="btn btn-lg btn-warning mt-2">Accéder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--   -->
    <!-- <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>

        <ul class="dropdown-menu">
			<li class="header-title"> Sidebar Style</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Background Image</p>
                    <label class="switch">
                        <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                    </label>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <p>Filters</p>
                    <div class="pull-right">
                        <span class="badge filter badge-black" data-color="black"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-red" data-color="red"></span>
                        <span class="badge filter badge-purple active" data-color="purple"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Images</li>

            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="..//assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-5.jpg" alt="" />
                </a>
            </li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                </div>
            </li>

            <li class="header-title pro-title text-center">Want more components?</li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                </div>
            </li>

            <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

            <li class="button-container">
				<button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
            </li>
        </ul>
    </div>
</div>
 -->

 <%- include('../partials/footer.ejs') %>

