
<%- include("../../partials/header") %>

<div class="container-fluid p-0 m-0" id="infosContainer">

	<div class="d-flex" id="contentContainer">
		<!-- Vertical menu -->
		<%- include("../navbar.ejs") %>

		<div class="article">

			<h1 class="border-bottom"> Mes anciens identifiants ne fonctionnent plus <span class="d-inline d-md-none" id="toggleInfolist"><i class="fas fa-bars"></i></span></h1>
			<br>
			Comme vous l'avez peut être constaté, la refonte de myfiche.fr a entraîné l'impossibilité de vous connecter avec votre ancien compte. C'est tout à fait normal et cela le restera dans la mesure où, pour des raisons de sécurité, nous n'avons pas pu porter les mots de passe sur cette nouvelle architecture. Nous vous invitons par conséquent à vous créer un nouveau compte.

		</div>

	</div>



</div>


<%- include("../../partials/scripts") %>
<script src="/myfiche_assets/js/plugins/infos.js"></script>
<%- include("../../partials/footer") %>

