/*=========================================================================================*/
/*                                                                                         */
/*                                  ~ GENERAL STUFF ~                                      */
/*                                                                                         */
/*=========================================================================================*/

html {
  height:100%;
}

body {
  padding-top:90px;
  height: 100%;
  font-family: 'Raleway';
  background: #357DC1;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ NAVBAR ~                                         */
/*                                                                                         */
/*=========================================================================================*/

#mainNavbar .navbar-brand {
  color: white;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

/* Little effect played when mouseovering the logo */
#mainNavbar .navbar-brand:hover {
    transition: 1s;
    opacity:0.8;
}

#mainNavbar {
  background: #357DC1;
  font-family: 'Patua One';
  z-index: 1;
}

#mainNavbar .nav-link {
  color:white;
  font-size: 1.2rem;
}

#mainNavbar .nav-link:hover {
  background-color: white;
  color:#357DC1;
  border-bottom: 2.5px solid rgba(255,255,255,0.2);
  border-radius: 7px;
  text-shadow: 0px 4px 3px rgba(255,255,255,0.4),
				       0px 8px 13px rgba(255,255,255,0.1),
				       0px 18px 23px rgba(255,255,255,0.1);
  transition: all 0.4s;
}

/* This class is applied when scrolling - it is editing navbar's color */
#mainNavbar.scrolled {
  background: #357DE1;
  transition: background 2s;
}

/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ HOMEPAGE ~                                       */
/*     Note : to avoid any confusion, each style selector is applied for #homeslides       */
/*            which is a section that contains all the homepage specific stuff             */
/*=========================================================================================*/


/* Slides color : each slide has a different color, the first is of the color of the body. */

#secondSlide {
  background: #5c94c4;
}

#thirdSlide {
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
  background: #2f6391;
}

#fourthSlide {
  background: #7f77d4;
  margin-bottom: 0; /* setting mb to 0 cause fourth slide is the last */
}


/* ===== Styling slides ===== */

/* General aspect of a slide */
#homeslides .slide {
  margin-bottom:70px;
  color:white;
}


#homeslides .slide h3 {
  font-family: 'Patua One';
  font-size: 2.5rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

#homeslides .slide p {
  font-size: 1.5rem;
}

/* Style for font awesome components embeded into slides */
#homeslides .fas {
  font-size: 2.3rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

/* Putting shadow on h3 for "white" slides */
#homeslides #secondSlide h3, #fourthSlide h3 {
  text-shadow: 0px 4px 3px rgba(255,255,255,0.4),
         0px 8px 13px rgba(255,255,255,0.1),
         0px 18px 23px rgba(255,255,255,0.1);
}

/* other */
#homeslides #searchIcon {
  border: 0px black solid;
}


/* Defining animations and using it */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#homeslides #firstSlide, #thirdSlide {
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

#homeslides #secondSlide, #fourthSlide {
  animation: 0.7s ease-out 0s 1 slideInFromRight;
  color:black;
}

/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ CATEGORIES ~                                     */
/* Note : to avoid any confusion, each style selector is applied for #categoriesContainer  */
/*            which is a section that contains all the fiches specific stuff               */
/*=========================================================================================*/

#categoriesBgImg {
  background-image: url('/myfiche_assets/img/home/main.png');
  background-repeat: repeat; 
}

.category h4 {
  font-family: 'Patua One';
  letter-spacing: 1.7px;
}

.category {
  background-color: white;
  transition: all 0.3s;
  display: flex;
}

.category:hover {
  background-color:rgba(0,85,255,0.97);
  color: white;
}

.category .categoryDropdownIcon {
  background-color:white;
  color: black;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.category .categoryDropdownIcon.animated-to-down:hover {
  padding-top: 15px;
  color:blue;
}

.category .categoryDropdownIcon.animated-to-up:hover {
  padding-bottom: 15px;
  color:blue;
}

.best-rated {
  display: none;
}

.best-rated-item {
  transition: all 0.2s;
}

.best-rated-item:hover {
  text-decoration: underline;
  font-size: 1.05rem;
}







/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ FICHES ~                                         */
/*    Note : to avoid any confusion, each style selector is applied for #fichesContainer   */
/*            which is a section that contains all the fiches specific stuff               */
/*=========================================================================================*/

#fichesContainer .jumbotron {
  width: 100%;
}

#fichesContainer .searchEngineTargetBlock 
{
	display: flex;
}
#ficheContentBody {
  height: 100%;
}

#plan {
  background-color: rgba(0, 0, 0, 0.02);
}


.plan-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.021);
}

.plan-item a {
  width: 100%;
  color: black;
  transition: all 0.3s;
}

.plan-item a:hover {
  background-color: rgba(0, 0, 0, 0.05);

}

.plan-item .plan-title {
  font-size: 1.2rem;
  font-family: 'Patua One';
  text-transform: uppercase;
}

.plan-item .plan-subtitle {
  font-size: 1rem;
  padding-left: 20px;
}

.comment-avatar {
  background-image:url('/myfiche_assets/img/home/main.png'); 
  background-size: cover; 
  height: 150px; 
  border-radius: 50%;
}

#commentContent {
  min-height: 100px;
}



/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ BBCODE ~                                         */
/*                                                                                         */
/*                                                                                         */
/*=========================================================================================*/

.bbcode.gauche {
  text-align: left;
}
.bbcode.centre {
  text-align: center;
}
.bbcode.droite {
  text-align: right;
}
.bbcode.justifie {
  text-decoration: justify;
}

.bbcode.rouge {
  color: red;
}
.bbcode.vert {
  color: green;
  display: inline;
}
.bbcode.jaune {
  color: yellow;
}
.bbcode.bleu {
  color: blue;
  display: inline;
}
.bbcode.noir {
  color: black;
}

.bbcode.code {
  border: 3px white solid;
  background-color: #252626;
  color: white;
  width: 100%;
  text-align: justify;
  align-self: center;
  font-family: "Roboto Mono", monospace;
  line-height: 2;
}
.code.label {
  display: flex;
  background-color: orange;
  text-decoration: underline;
  font-size: 1.1rem;
  text-align: center;
}
.code.header {
  width: 65%;
  height: 30px;
}

.code.language {
  background-color: green;
  width: 35%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code.content {
  padding-left: 20px;
  padding-bottom: 10px;
}
.bbcode.img {
  max-width: 750px;
  max height: 750px;
  align-self: center;
  border-radius: 4px;
  transition: opacity 0.4s;
}

.bbcode.img:hover {
  opacity: 0.9;
}



/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ User Navbar ~                                    */
/*                                                                                         */
/*                                                                                         */
/*=========================================================================================*/



.vertical-nav {
  min-width: 20rem;
  width: 20rem;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#registerForm input {
  font-size: 1.2rem;
}

.registerFormIcon {
  font-size: 2.6rem;
}


#userTags .userTag {
  padding: 5px 30px;
  margin: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}

.vertical-nav .nav-item.link {
  transition: all 0.15s;
}
.vertical-nav .nav-item.link:hover {
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
}

.vertical-nav .nav-item a {
  color: black; 
}



/* for toggle behavior */

#sidebar.active {
  margin-left: -20rem;
}

#content.active {
  width: 100%;
  margin: 0;
}


@media (max-width: 992px) {
  #sidebar {
    width: 100%;
  }
  #sidebar.active {
    width: 0%;
  }
  #content {
    width: 100%;
    margin: 0;
  }
/*  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }*/
}

#registerFormContainer {
  height: 100%;
}

#registerForm .card-header, #loginForm .card-header {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 1.8rem;
  font-family: "Patua One";
}

#registerForm .card-header {
  background-color: #7d2a9c;
}

#loginForm .card-header {
  background-color: #ff9900;
}


#registerForm button {
  color: purple;
  border: 1.5px #7d2a9c solid;
  transition: all 0.3s;
}

#registerForm button:hover {
  background-color: #7d2a9c;
  color: white;
}

#loginForm button {
  color: #ff9900;
  border: 1.5px #ff9900 solid;
  transition: all 0.3s;
}

#loginForm button:hover {
  background-color: #ff9900;
  color: white;
}

/*=========================================================================================*/
/*                                                                                         */
/*                                      ~ FICHE EDITOR ~                                   */
/*              Note : to avoid any confusion, each style selector is applied for          */
/*  #ficheEditorContainer which is a section that contains all the fiches specific stuff   */
/*=========================================================================================*/


#ficheEditorContainer #ficheEditorHeader h1, #ficheEditorContainer #ficheEditorHeader h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Patua One", Arial;
  letter-spacing: 1.1px;
}

#ficheEditorContainer #ficheEditorHeader h4 {
  border-radius: 3px;
}



#ficheEditorContainer #ficheForm {
  width: 100%;
}

#ficheEditorContainer #ficheBasicInfos {
}

#ficheEditorContainer #ficheBasicInfos .form-group {

}




#ficheEditorContainer .form-group label {
  display:flex;
  justify-content: left;
  margin-bottom: 0;
  width: 200px;
}

#ficheEditorContainer #ficheBasicInfos .form-group #ficheDescription {
  max-height: 200px;
  min-height:50px;
}

#ficheEditorContainer #ficheContent {
  height: 300px;
  min-height: 300px;
  max-height: 750px;
  margin-bottom: 10px;
  resize:none;
  border:1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 0px;
}

#ficheEditorContainer #ficheContent:focus {
  box-shadow: none;
}

@media (max-width:768px){
  #ficheEditorContainer #ficheEditorHeader h1 {
    font-size: 1.5rem;
  }
  #ficheEditorContainer #ficheEditorHeader h4 {
    font-size: 1.2rem;
  }
  #ficheEditorContainer #ficheForm {
    width: 100%;
  }
}

#ficheEditorContainer .UI-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px rgba(0, 0, 0, 0.5) solid;
  padding: 5px;
  transition: all 0.2s;
}

#ficheEditorContainer .UI-items p {
  margin-bottom: 0;
}


#ficheEditorContainer .UI-items:hover {
  opacity: 0.9;
}

#ficheEditorContainer #UI-items-section {
  width: 10%;
  max-width: 30px;
}

#ficheEditorContainer #format-item-list .format-item
{
  justify-content:center;
  padding: 7px 10px;
  width: 7%;
  height: 30px;
  transition: all 0.2s;
  border:1px rgba(0, 0, 0, 0.5) solid;
}

#ficheEditorContainer #format-item-list #selectColor i
{
  margin-right: 5px;
  font-size: 1.8rem;
}

#ficheEditorContainer #format-item-list .format-item:hover
{
  padding-top: 2px;
  background-color: #357DC1 ;
}


#notFoundContainer 
{
	height: 100%;
	background-image: url("/myfiche_assets/img/home/main.png");
	background-position: center;
}





