<%- include("../partials/header") %>

<div class="container-fluid p-0 m-0 h-100" id="infosContainer">

	<div class="d-flex flex" id="contentContainer">
		<!-- Vertical menu -->
		<%- include("navbar.ejs") %>

		<div class="article">

			<h1 class="border-bottom"> Charte <span class="d-inline d-md-none" id="toggleInfolist"><i class="fas fa-bars"></i></span></h1>
			<br>
			La charte myfiche.fr est une sorte de mini-règlement que tout un chacun se doit de respecter afin que l'aspect communautaire que nous promulguons demeure sain. Il s'applique à chacun des utilisateurs souhaitant contribuer au site en y ajoutant du contenu.

			<h3>Publication de contenu</h3>
			<p>
			Avant de publier un quelconque contenu, assurez vous que celui-ci respecte les règles suivantes :
			</p>
			<ul>
				<li>
					Le contenu est cohérent et à un intérêt pédagogique affirmé.
				</li>
				<li>
					Le contenu est strictement EXEMPT de considérations racistes, sexistes, homophobes, etc... 
				</li>
				<li>
					Les images utilisées doivent être choisies avec pertinence : toute image à caractère pornographique ou impertinente relativement au sujet choisi NE PEUT être tolérée.
				</li>
				<li>
					Si contexte politique il y a, l'auteur doit éviter de se positionner ouvertement et tendre un maximum vers l'objectivité. Myfiche.fr n'est pas un lieu de débat politique.
				</li>
			</ul>

			<h3>Poster un commentaire</h3>
			<p>
			Chaque utilisateur à la possibilité de commenter le contenu d'un autre par le biais de la section commentaire. C'est une chance pour chacun de s'améliorer en critiquant de façon constructive ce qui a été fait. Assurez vous que votre commentaire respecte les éléments suivants :
			</p>
			<ul>
				<li>
					Votre commentaire est une critique constructive qui vise à aider l'auteur à s'améliorer, ou simplement a le remercier pour le contenu posté.
				</li>
				<li>
					Votre commentaire est EXEMPT de toute considération raciste, sexiste, homophobe, etc...
				</li>
			</ul>

			<p> Il est a noter que tout contenu posté faisant entorse à l'une de ces règles entraînera sa suppression immédiate et sans préavis ainsi qu'une possible suspension de votre compte, cela en fonction du degré de l'entorse.
			Nous comptons réellement sur chacun pour faire preuve de savoir-vivre afin que myfiche.fr puisse rester une plateforme fidèle à sa philosophie d'entraide communautaire.

			Merci à tous !
			</p> 
		</div>

	</div>



</div>





<%- include("../partials/scripts") %>
<script src="/myfiche_assets/js/plugins/infos.js"></script>
<%- include("../partials/footer") %>

