<%- include("../partials/header") %>

<div class="container-fluid p-0 m-0 h-100" id="infosContainer">

	<div class="d-flex flex" id="contentContainer">
		<!-- Vertical menu -->
		<%- include("navbar.ejs") %>

		<div class="article">

			<h1 class="border-bottom"> Qui sommes nous ? <span class="d-inline d-md-none" id="toggleInfolist"><i class="fas fa-bars"></i></span></h1>
			<br>
			Le projet myfiche.fr est né en 2018 de la main de trois élèves de première ES. Dès le début, nous avions le désir de créer un site web de nos mains dans l'objectif d'apprendre des choses nous-mêmes, tout en révisant nos contrôles et plus largement notre BAC. En mêlant l'utile à l'agréable, nous nous sommes rendus compte que rendre tout ça grand public pouvait être bénéfique à tout le monde. C'est de là qu'a émergée l'idée de créer une plateforme où les étudiants peuvent facilement partager leurs connaissances.
Myfiche.fr se veut totalement indépendant : nous hébergeons désormais le site nous-même et le développons ligne de code par ligne de code.
<br><br>
Si vous avez des questions ou des suggestion, n'hésitez pas à nous contacter à <a href="mailto: contact@myfiche.fr">contact@myfiche.fr</a>.



		</div>

	</div>



</div>





<%- include("../partials/scripts") %>
<script src="/myfiche_assets/js/plugins/infos.js"></script>
<%- include("../partials/footer") %>

