<%- include("../partials/header") %>

<div class="container-fluid p-0 m-0" id="infosContainer">

	<div class="d-flex flex" id="contentContainer">
	<!-- Vertical menu -->
	<%- include("navbar.ejs") %>

	<div class="article">

		<h1 class="border-bottom"> Bienvenue  <span class="d-inline d-md-none" id="toggleInfolist"><i class="fas fa-bars"></i></span></h1>
		<br/>
		<p>
		Myfiche.fr est un site dont l'objectif premier est le partage de la connaissance entre étudiants. L'idée d'un tel provient d'un constat intéressant : dans le système éducatif traditionnel, on envisage l'apprentissage comme un savoir transmis d'un professeur à un élève. Or, il est dorénavant certain que cette méthode n'est pas la seule efficace. Nous pensons, à l'instar de nouvelles infrastructures, qu'il est primordial que les étudiants coopèrent et apprennent via l'entraide.
C'est dans ce but que myfiche.fr met a disposition des étudiants un outil de création de fiches leur permettant de réaliser leurs propre travaux et de les partager aux autres.

Le projet est né en 2018, de la main de trois élèves de première ES, et continue d'être porté par eux à travers une récente refonte complète ainsi que de nombreuses mises à jour.
		</p>
	</div>

	</div>



</div>





<%- include("../partials/scripts") %>
<script src="/myfiche_assets/js/plugins/infos.js"></script>
<%- include("../partials/footer") %>

