<nav class="nav d-none d-md-block bg-white col-5 col-md-3 p-2 rounded border" id="navbar">
	
	<h2 class="m-4 d-none d-md-block text-center"><i class="fas fa-compass mr-3"></i>Naviguation<i class="fas fa-compass ml-3"></i></h2>

		<h5 class="border-bottom w-100 text-center mb-4 d-none d-md-block"><i class="fas fa-info mr-2"></i>A propos du site</h5>
		<a class="nav-link active" href="/infos">Bienvenue</a>
		<a class="nav-link" href="/infos/nouvelleVersion">Notes sur la nouvelle version</a>
		<a class="nav-link" href="/infos/qui">Qui sommes nous ?</a>
		<a class="nav-link" href="/infos/charte">La charte</a>
		<h5 class="border-bottom w-100 text-center mt-4 mb-4 d-none d-md-block">F.A.Q</h5>
		<a class="nav-link" href="/infos/faq/identifiants">Mes anciens identifiants ne fonctionnent plus</a>
</nav>


